<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="../node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>
    <h1><%= htmlWebpackPlugin.options.title %> 页面</h1>
    测试一下，哈哈，测试一下更新
  </body>
  <script type="text/javascript">
    var ES6Base = Lux.ES6Base
    // $('h1').text('jQuery 加载成功！')
    console.log(Lux)

    // ES6Base.run()
  </script>
</html>
